.chart :global(.gapi-analytics-data-chart-styles-table-td) {
  white-space: normal;
  word-break: break-all;
  max-width: 70%;
}

.chart :global(.google-visualization-table) {
  width: 100%;
}

.chart :global(.google-visualization-table-table) {
  width: 100%;
}
